.body_caroussel {
  height: 600px;
  width: 1000px;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 9;
  width: 100vw;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 6;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;

  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(6) {
  --offset: 6;
  background-color: rgba(0, 0, 0, 0);
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ section#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ section#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ section#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ section#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ section#carousel {
  --position: 5;
}

input:nth-of-type(6) {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ section#carousel {
  --position: 6;
}

.item img {
  width: 600px;
}

@media (max-device-width: 540px){
  .item img {
  width: 300px;
}

  div.item {
    height: 200px;
}
}