.cards {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 100px;
  text-align: center;
  font-size: 30px;
  font-family: "Helvetica", sans-serif;
  color: white;
}
.banner {
  grid-column: 1 / 12;
  grid-row: 1/3;
  font-family: "Helvetica", sans-serif;
  text-align: center;
  background-image: linear-gradient(-225deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.2) 75%), url(../images/SF.jpg);
  color: white;
  padding: 150px 0px;
  background-size: cover;
  background-position: center;
}
.banner h1 {
  font-size: 80px;
  margin-top: 100px;
}
.banner h2 {
  font-size: 40px;
  font-weight: lighter;
  opacity: 0.8;
  margin-top: 50px;
  margin-bottom: 100px;
}
.logo {
  grid-column: 1;
  grid-row: 1;
}
.titre {
  display: flex;
  justify-content: space-around;
  text-align-last: center;

  grid-column: 1 / 12;
  grid-row: 3;
  font-size: 40px;
  margin-top: 20px;
}

.infos{
  display: flex;
  justify-content: space-around;
  text-align-last: center;
  margin-top: 100px;
  grid-column: 1 / 12;
  grid-row: 3;
}
.media {
  grid-column: 1 / 12;
  grid-row: 4;
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}
.boutique {
  grid-column: 1 / 5;
  grid-row: 4;
  justify-content: center;
  background-color: rgba(350, 350, 350, 0);
  color: white;
  font-size: 30px;
}
.boutique ul {
  margin-top: 40px;
}
.carousel{
  grid-column: 7 / 12;
  grid-row: 4;
  justify-content: center;
}

.carousel {
  width: 100px;
  margin: 0;
  display: grid;
  align-items: center;
  justify-items: center;
}

#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 12;
  width: 50vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 9;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;

  background-color: coral;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item:nth-of-type(1) {
  --offset: 1;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(2) {
  --offset: 2;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(3) {
  --offset: 3;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(4) {
  --offset: 4;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(5) {
  --offset: 5;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(6) {
  --offset: 6;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(7) {
  --offset: 7;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(8) {
  --offset: 8;
  background-color: rgba(0, 0, 0, 0);
}
div.item:nth-of-type(9) {
  --offset: 9;
  background-color: rgba(0, 0, 0, 0);
}


input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ section#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ section#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ section#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ section#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ section#carousel {
  --position: 5;
}

input:nth-of-type(6) {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ section#carousel {
  --position: 6;
}

input:nth-of-type(7) {
  grid-column: 8 / 9;
  grid-row: 2 / 3;
}
input:nth-of-type(7):checked ~ section#carousel {
  --position: 7;
}

input:nth-of-type(8) {
  grid-column: 9 / 10;
  grid-row: 2 / 3;
}
input:nth-of-type(8):checked ~ section#carousel {
  --position: 8;
}

input:nth-of-type(9) {
  grid-column: 10 / 11;
  grid-row: 2 / 3;
}
input:nth-of-type(9):checked ~ section#carousel {
  --position: 9;
}


.item img {
  width: 600px;
}

  div.item {
    height: 450px;
}

body {
  background-color: rgb(242, 159, 217) ;
}
img {
  padding: 30px;
  padding-bottom: 10px;
}
a {
  color: white;
}

.sponsors {
  display: flex;
  grid-column: 1 / 12;
  grid-row: 5;
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  justify-content: space-around;
}

.sponsors img {
  width: 150px;
}
.fin {
  grid-column: 1 / 12;
  grid-row: 6;
  padding-bottom: 50px;
}

@media(max-device-width: 760px){
.banner h1 {
  font-size: 200px;
}
.banner h2{
  font-size: 100px;
}
.titre{
  font-size: 45px;
}
.boutique{
  grid-column: 1 / 12;
  grid-row: 1;
  justify-content: center;
}
.carousel{
  grid-column: 5 ;
  width: auto;
  justify-content: center;
}
.fin{
  font-size: 25px;
}
.sponsors {
  display: block;
}
.sponsors img {
  width: 250px;
}
}









